body,html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#root{
  height: 100%;
}
.wrap{
	width:100%;
  height: 100%;
	background: url(../../imgs/login_bj.jpg) repeat-x center top;
}
.wrap header{
  box-sizing: border-box;
  width: 1280px;
  height: 128px;
  margin: 0 auto;
  padding: 71px 0 0 50px;
}
h1{
  margin: 0;
  padding: 0;
}
.main{
  width: 1280px;
  height: 438px;
  margin: 0 auto;
  position: relative;
  background: url(../../imgs/login_main.jpg) no-repeat center top;
}
.main-box{
  width: 310px;
  height: 310px;
  position: absolute;
  top: 0;
  right: 167px;
  box-sizing: border-box;
  padding: 25px 17px 0 20px;
}
.login-title{
  margin: 0;
  font-size: 27px;
  color: #3663A5;
  letter-spacing: 30px;
  padding-left: 30px;
  text-align: center;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
.input-box{
  box-sizing: border-box;
  padding-top: 31px;
}
.input{
  width: 100%;
  height: 34px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: -5px center;
  text-indent: 36px;
  margin: 0 1px 12px 1px;
}
.user-name{
  background-image: url(../../imgs/login_icon_1.jpg);
}
.user-password{
  background-image: url(../../imgs/login_icon_2.jpg);
}
.user-check{
  background-image: url(../../imgs/login_icon_3.jpg);
}
.btn{
  height: 37px;
  width: 100%;
  background-image: url(../../imgs/login_button.jpg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top center;
  border: none;
  margin-top: 2px;
  cursor: pointer;
}
.right-text{
  text-align: right;
  font-size: 12px;
  padding-right: 1px;
}
.right-text a{
  color: #4E7DC5;
}
.wrap footer p{
  margin: 0;
}
.wrap footer{
  text-align: center;
  padding-top: 30px;
  color: #4E7DC5;
  line-height: 20px;
  font-size: 12px;
}
